# Core Django
Django
djangorestframework
djangorestframework-simplejwt

# Database
psycopg2-binary

# Environment Variables
python-dotenv

# Filtering and Search
django-filter

# API Documentation
drf-yasg

# CORS (for frontend integration)
django-cors-headers
